<ion-header [translucent]="true">
  <ion-toolbar color="warning" class="fntclr">
    <ion-row>
      <ion-icon style="font-size: 27px;" name="clipboard-outline"></ion-icon>
      <label class="fnt cntr">Daily Work Mnagement System</label>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row class="cntr2">
      <label class="fnt cntr2 fntclr">Select Module</label>
    </ion-row>
    <ion-button color="warning" routerLink="/admin" shape="round">Admin</ion-button>
    <ion-button color="warning" routerLink="/approval" shape="round">Approval</ion-button>
    <ion-button color="warning" routerLink="/user" shape="round">User</ion-button>


  </div>
</ion-content>
