<ion-header [translucent]="true">
  <ion-toolbar color="warning" class="fntclr">
    <ion-title class="txt">View-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-label class="txt txtmarg">Title :</ion-label><ion-label class=" txtmarg">Demo</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="txt txtmarg">Description :</ion-label><ion-label class=" txtmarg">Project</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="txt txtmarg">Client Name :</ion-label><ion-label class=" txtmarg">God</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="txt txtmarg">Taglines :</ion-label><ion-label class=" txtmarg">Power</ion-label>
    </ion-row>
    <ion-row>
      <ion-img class="txtmarg" style="height: 30%; width: 30%;" src="assets/desktop.jpg" ></ion-img>
    </ion-row>
    <!-- <ion-row>
      <ion-label >PSD File :</ion-label>
    </ion-row> -->
    <ion-row>
      <ion-button class="txt txtmarg txtcntr">Approve</ion-button>
      <!-- <ion-button color="danger"  type="submit" class="txt txtmarg txtcntr">Reject</ion-button> -->
      <ion-button color="danger" class="txt txtmarg txtcntr" (click)="openRejectModal()">Reject</ion-button>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/home" class="txt txtmarg txtcntr">Back</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
